.technician-disabled-screen-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .technician-disabled-screen-technician-disabled-screen {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    background-color: rgba(240, 241, 243, 1);
  }
  .technician-disabled-screen-sidebar {
    gap: 44px;
    top: 128px;
    left: 0px;
    width: 280px;
    height: 890px;
    display: flex;
    padding: 24px 24px 32px;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(240, 241, 243, 1);
    border-style: solid;
    border-width: 0 1px 0 0;
    border-radius: 0 8px 8px 0;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
  }
  .technician-disabled-screen-frame39 {
    gap: 32px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .technician-disabled-screen-listmenu {
    gap: 8px;
    width: 232px;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    flex-shrink: 0;
  }
  .technician-disabled-screen-listmenu1 {
    gap: 12px;
    width: 200px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
  }
  .technician-disabled-screen-list-menu {
    gap: 10px;
    display: flex;
    padding: 16px 0;
    align-self: stretch;
    align-items: flex-start;
    border-radius: 8px;
    flex-direction: column;
  }
  .technician-disabled-screen-content {
    gap: 16px;
    width: 186px;
    height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .technician-disabled-screen-home {
    width: 24px;
    height: 24px;
  }
  .technician-disabled-screen-text {
    color: rgba(12, 78, 216, 1);
    height: auto;
    text-align: left;
    line-height: 24px;
  }
  .technician-disabled-screen-list-menu1 {
    gap: 10px;
    display: flex;
    padding: 16px 0;
    align-self: stretch;
    align-items: flex-start;
    border-radius: 8px;
    flex-direction: column;
  }
  .technician-disabled-screen-content1 {
    gap: 16px;
    width: 186px;
    height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .technician-disabled-screen-plus {
    width: 25px;
    height: 53px;
  }
  .technician-disabled-screen-text02 {
    color: rgba(93, 102, 121, 1);
    height: auto;
    text-align: left;
    line-height: 24px;
  }
  .technician-disabled-screen-list-menu2 {
    gap: 10px;
    display: flex;
    padding: 16px 0;
    align-self: stretch;
    align-items: flex-start;
    border-radius: 8px;
    flex-direction: column;
  }
  .technician-disabled-screen-content2 {
    gap: 16px;
    width: 186px;
    height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .technician-disabled-screen-inventory {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .technician-disabled-screen-group10 {
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .technician-disabled-screen-frame6 {
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    position: absolute;
  }
  .technician-disabled-screen-text04 {
    color: rgba(93, 102, 121, 1);
    height: auto;
    text-align: left;
    line-height: 24px;
  }
  .technician-disabled-screen-list-menu3 {
    gap: 10px;
    display: flex;
    padding: 16px 0;
    align-self: stretch;
    align-items: flex-start;
    border-radius: 8px;
    flex-direction: column;
  }
  .technician-disabled-screen-content3 {
    gap: 16px;
    width: 186px;
    height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .technician-disabled-screen-suppliers {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .technician-disabled-screen-group12 {
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .technician-disabled-screen-frame8 {
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    position: absolute;
  }
  .technician-disabled-screen-text06 {
    color: rgba(93, 102, 121, 1);
    height: auto;
    text-align: left;
    line-height: 24px;
  }
  .technician-disabled-screen-list-menu4 {
    gap: 10px;
    display: flex;
    padding: 16px 0;
    align-self: stretch;
    align-items: flex-start;
    border-radius: 8px;
    flex-direction: column;
  }
  .technician-disabled-screen-content4 {
    gap: 16px;
    width: 186px;
    height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .technician-disabled-screen-unavailable {
    width: 19px;
    height: 51px;
  }
  .technician-disabled-screen-text08 {
    color: rgba(88, 102, 121, 1);
    height: auto;
    text-align: left;
    line-height: 24px;
  }
  .technician-disabled-screen-frame40 {
    gap: 12px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .technician-disabled-screen-list-menu5 {
    gap: 10px;
    width: 232px;
    display: flex;
    padding: 16px;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 8px;
    flex-direction: column;
  }
  .technician-disabled-screen-content5 {
    gap: 16px;
    width: 186px;
    height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .technician-disabled-screen-log-out {
    width: 24px;
    height: 24px;
  }
  .technician-disabled-screen-text10 {
    color: var(--dl-color-grey-grey600);
    height: auto;
    text-align: left;
    line-height: 24px;
  }
  .technician-disabled-screen-group1 {
    top: 641px;
    left: 343px;
    width: 292px;
    height: 345px;
    display: flex;
    position: absolute;
    align-items: flex-end;
    flex-shrink: 1;
    justify-content: center;
  }
  .technician-disabled-screen-rectangle1 {
    top: 2px;
    left: 1px;
    width: 291px;
    height: 343px;
    position: absolute;
    border-radius: 35px;
  }
  .technician-disabled-screen-group72 {
    top: 222px;
    left: 114px;
    width: 44px;
    height: 21px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .technician-disabled-screen-text12 {
    color: rgba(73, 73, 73, 1);
    width: 44px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-ellipse1 {
    top: 49px;
    left: 44px;
    width: 70px;
    height: 70px;
    position: absolute;
    border-color: rgba(245, 131, 33, 1);
    border-style: solid;
  }
  .technician-disabled-screen-text14 {
    top: 160px;
    left: 44px;
    color: rgba(73, 73, 73, 1);
    width: 205px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-group69 {
    top: 198px;
    left: 44px;
    width: 114px;
    height: 21px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .technician-disabled-screen-text16 {
    color: rgba(73, 73, 73, 1);
    width: 32px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-text18 {
    left: 70px;
    color: rgba(73, 73, 73, 1);
    width: 44px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-group70 {
    top: 222px;
    left: 44px;
    width: 64px;
    height: 21px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .technician-disabled-screen-text20 {
    color: rgba(73, 73, 73, 1);
    width: 64px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-group71 {
    top: 264px;
    left: 162px;
    width: 81px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 12, 12, 0.9100000262260437);
  }
  .technician-disabled-screen-text22 {
    top: 6px;
    left: 20px;
    color: rgba(255, 255, 255, 1);
    width: 42px;
    height: auto;
    position: absolute;
    font-size: 11px;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-rectangle2806 {
    top: 0px;
    left: 0px;
    width: 292px;
    height: 345px;
    position: absolute;
  }
  .technician-disabled-screen-group76 {
    top: 642px;
    left: 1036px;
    width: 292px;
    height: 345px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .technician-disabled-screen-rectangle11 {
    top: 2px;
    left: 1px;
    width: 291px;
    height: 343px;
    position: absolute;
    border-radius: 35px;
  }
  .technician-disabled-screen-group721 {
    top: 222px;
    left: 114px;
    width: 44px;
    height: 21px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .technician-disabled-screen-text24 {
    color: rgba(73, 73, 73, 1);
    width: 44px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-ellipse11 {
    top: 49px;
    left: 44px;
    width: 70px;
    height: 70px;
    position: absolute;
    border-color: rgba(245, 131, 33, 1);
    border-style: solid;
  }
  .technician-disabled-screen-text26 {
    top: 160px;
    left: 44px;
    color: rgba(73, 73, 73, 1);
    width: 205px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-group691 {
    top: 198px;
    left: 44px;
    width: 114px;
    height: 21px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .technician-disabled-screen-text28 {
    color: rgba(73, 73, 73, 1);
    width: 32px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-text30 {
    left: 70px;
    color: rgba(73, 73, 73, 1);
    width: 44px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-group701 {
    top: 222px;
    left: 44px;
    width: 64px;
    height: 21px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .technician-disabled-screen-text32 {
    color: rgba(73, 73, 73, 1);
    width: 64px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-group711 {
    top: 264px;
    left: 162px;
    width: 81px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 12, 12, 0.9100000262260437);
  }
  .technician-disabled-screen-text34 {
    top: 6px;
    left: 20px;
    color: rgba(255, 255, 255, 1);
    width: 42px;
    height: auto;
    position: absolute;
    font-size: 11px;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-rectangle28061 {
    top: 0px;
    left: 0px;
    width: 292px;
    height: 345px;
    position: absolute;
  }
  .technician-disabled-screen-group75 {
    top: 642px;
    left: 681px;
    width: 292px;
    height: 345px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .technician-disabled-screen-rectangle12 {
    top: 2px;
    left: 1px;
    width: 291px;
    height: 343px;
    position: absolute;
    border-radius: 35px;
  }
  .technician-disabled-screen-group722 {
    top: 222px;
    left: 114px;
    width: 44px;
    height: 21px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .technician-disabled-screen-text36 {
    color: rgba(73, 73, 73, 1);
    width: 44px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-ellipse12 {
    top: 49px;
    left: 44px;
    width: 70px;
    height: 70px;
    position: absolute;
    border-color: rgba(245, 131, 33, 1);
    border-style: solid;
  }
  .technician-disabled-screen-text38 {
    top: 160px;
    left: 44px;
    color: rgba(73, 73, 73, 1);
    width: 205px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-group692 {
    top: 198px;
    left: 44px;
    width: 114px;
    height: 21px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .technician-disabled-screen-text40 {
    color: rgba(73, 73, 73, 1);
    width: 32px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-text42 {
    left: 70px;
    color: rgba(73, 73, 73, 1);
    width: 44px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-group702 {
    top: 222px;
    left: 44px;
    width: 64px;
    height: 21px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .technician-disabled-screen-text44 {
    color: rgba(73, 73, 73, 1);
    width: 64px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-group712 {
    top: 264px;
    left: 162px;
    width: 81px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 12, 12, 0.9100000262260437);
  }
  .technician-disabled-screen-text46 {
    top: 6px;
    left: 20px;
    color: rgba(255, 255, 255, 1);
    width: 42px;
    height: auto;
    position: absolute;
    font-size: 11px;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-rectangle28062 {
    top: 0px;
    left: 0px;
    width: 292px;
    height: 345px;
    position: absolute;
  }
  .technician-disabled-screen-group74 {
    top: 222px;
    left: 337px;
    width: 1053px;
    height: 40px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .technician-disabled-screen-group73 {
    top: 0px;
    left: 957px;
    width: 96px;
    height: 40px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .technician-disabled-screen-button02 {
    top: 0px;
    left: 0px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-radius: 8px;
    background-color: rgba(255, 12, 12, 0.7799999713897705);
  }
  .technician-disabled-screen-frame-buttonbase {
    gap: 8px;
    display: flex;
    padding: 10px 16px;
    overflow: hidden;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
    align-items: center;
    border-color: rgba(208, 211, 217, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    justify-content: center;
  }
  .technician-disabled-screen-text48 {
    color: rgba(240, 241, 243, 1);
    height: auto;
    text-align: left;
    line-height: 20px;
  }
  .technician-disabled-screen-text50 {
    top: 7px;
    color: var(--dl-color-grey-grey800);
    height: auto;
    position: absolute;
    text-align: left;
    line-height: 30px;
  }
  .technician-disabled-screen-head-bar {
    top: -56px;
    left: -4px;
    width: 1444px;
    height: 184px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .technician-disabled-screen-rectangle4 {
    top: 52.99653625488281px;
    left: 3.813232898712158px;
    width: 1440px;
    height: 128px;
    position: absolute;
  }
  .technician-disabled-screen-ellipse2 {
    top: 17px;
    left: 96px;
    width: 243px;
    height: 175px;
    position: absolute;
  }
  .technician-disabled-screen-ellipse13 {
    top: 41.760986328125px;
    left: 0px;
    width: 318px;
    height: 137px;
    position: absolute;
  }
  .technician-disabled-screen-text52 {
    top: 48px;
    left: 552px;
    color: rgba(255, 255, 255, 1);
    width: 382px;
    height: auto;
    position: absolute;
    font-size: 42px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .technician-disabled-screen-rectangle13 {
    top: 2px;
    left: 1px;
    width: 291px;
    height: 343px;
    position: absolute;
  }
  @media(max-width: 1600px) {
    .technician-disabled-screen-group71 {
      border-radius: var(--dl-radius-radius-radius4);
    }
    .technician-disabled-screen-rectangle2806 {
      top: 237px;
      left: 200px;
      right: 1px;
      width: var(--dl-size-size-medium);
      bottom: 0px;
      height: 106px;
      padding-top: var(--dl-space-space-oneandhalfunits);
    }
    .technician-disabled-screen-group711 {
      border-radius: var(--dl-radius-radius-radius4);
    }
    .technician-disabled-screen-rectangle28061 {
      top: 243px;
      left: 200px;
      right: 1px;
      width: var(--dl-size-size-medium);
      height: 106px;
    }
    .technician-disabled-screen-group712 {
      border-radius: var(--dl-radius-radius-radius4);
    }
    .technician-disabled-screen-rectangle28062 {
      top: 245px;
      left: 200px;
      right: 1px;
      width: var(--dl-size-size-medium);
      bottom: 0px;
      height: 106px;
    }
    .technician-disabled-screen-frame-buttonbase {
      width: var(--dl-size-size-large);
      border-radius: var(--dl-radius-radius-radius4);
    }
    .technician-disabled-screen-rectangle4 {
      width: 1600px;
    }
    .technician-disabled-screen-rectangle13 {
      top: 274px;
      left: 643px;
      width: 362px;
      height: 343px;
      margin: auto;
      padding-top: 0px;
      border-radius: var(--dl-radius-radius-radius4);
    }
  }
  